@import "tailwindcss";
@import "tw-animate-css";

.nav_underline {
  position: relative;
  padding-bottom: 2px;
}

.nav_underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: linear-gradient(
  90deg,
  #ff0000,
  #08ffca
);
  transition: width 0.35s ease;
}

.nav_underline:hover::after {
  width: 100%;
}
